:root {
    --primary-color: #1abb3d;
}

nav {
    background-color: var(--primary-color);
    padding-left: 2rem;
    padding-right: 2rem;
}

nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#content {
    margin-top: 4rem;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.league-title {
    margin-bottom: 2rem;
}

.match-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.event-wrapper {
    align-items: center;
    border-radius: .3rem;
    margin-right: 1rem;
}

.event-wrapper .card-action {
    border-bottom: 2px solid white;
    background-color: var(--primary-color);
}

.event-vs {
    margin: 0 1.6rem;
    font-size: 1.4rem;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-score {
    margin-bottom: .4rem;
}

.event-wrapper .team-icon {
    width: 60px;
    height: 60px;
    margin-bottom: .6rem;
    background-size: contain;
    background-position: center;
    margin-right: 0;
}

.team-icon {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    margin-right: 2rem;
}

.team-title {
    font-size: 1.2rem;
}

.team-btn {
    margin-top: .4rem;
}

.btn, .btn-small {
    background-color: var(--primary-color);
}

.btn:hover, .btn-small:hover {
    opacity: .7;
    background-color: var(--primary-color);
}